.player-name{
  color: #ffffff;
  position: absolute;
  right: 3.125rem;
  top: 1.875rem;

  text-transform: capitalize;
}

.cards-holder{
  display: flex;
  flex-wrap: wrap;
  border: .0625rem solid rgba(212, 212, 212, 0.319);
  border-radius: 0.5rem;
  width: 100%;
  padding: 1.25rem .9375rem;
  justify-content: center;
  max-width: 81.25rem;
}

.btn{
  background: transparent;
  text-decoration: none;
  background-color: #66B2FF;
  margin: 3.125rem 0.5rem;
  padding: 2rem 1rem;
  color: #21202e;
  font-weight: bold;
  font-family: 'Roboto';
  text-transform: uppercase;
  animation: pulse 2s infinite;

  border-radius: 6px;

  &:hover, &:focus{
    background-color: #73b8fc;
    cursor: pointer;
  }
}

#swalText{
  font-family: 'Roboto', sans-serif;
}

.swal2-toast{
  display: flex !important;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #66b3ff55;
    box-shadow: 0 0 0 0 #66b3ff55;
  }
  70% {
      -moz-box-shadow: 0 0 0 10px #66b3ff00;
      box-shadow: 0 0 0 10px #66b3ff00;
  }
  100% {
      -moz-box-shadow: 0 0 0 0 #66b3ff00;
      box-shadow: 0 0 0 0 #66b3ff00;
  }
}